<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SD4Version</key>
	<string>8.0.8</string>
	<key>SD5ConversionOffered</key>
	<false/>
	<key>SDAddUsedFrameworksOnExport</key>
	<integer>0</integer>
	<key>SDAddUsedLibrariesOnExport</key>
	<integer>0</integer>
	<key>SDAutoIncBuildNumber</key>
	<false/>
	<key>SDAutoIncBuildNumberOnExport</key>
	<false/>
	<key>SDBreakOnExceptions</key>
	<false/>
	<key>SDBreakpointsEnabled</key>
	<true/>
	<key>SDBundleVersion</key>
	<string>2.0</string>
	<key>SDCocoaTermsInProperties</key>
	<true/>
	<key>SDCodesignBundles</key>
	<false/>
	<key>SDCodesignOnlyOnExport</key>
	<false/>
	<key>SDDebuggingEnabled</key>
	<false/>
	<key>SDDocumentVersion</key>
	<integer>841887800</integer>
	<key>SDFolds</key>
	<string>YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVj
dHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGoCwwSKCwzNjpVJG51
bGzSDQ4PEVpOUy5vYmplY3RzViRjbGFzc6EQgAKAB9wTFBUWFxgZDhobHB0eHyAe
ISIfJCAfJidXbVNlbEVuZFptU2VsRW5kRU9GXxAPbVNlbFN0YXJ0T2Zmc2V0XW1T
ZWxFbmRPZmZzZXRbbU1hdGNoU3RhcnRbbVNlbEVuZFBhcmFcbVNlbFN0YXJ0RU9G
WW1TZWxTdGFydF5tU2VsV2FzVmlzaWJsZVltTWF0Y2hFbmRdbVNlbFN0YXJ0UGFy
YREkYQgRI9CAAxC3CIAGCIAFELbSDikqK1lOUy5zdHJpbmeABF8QkU9OIEFQUEVO
RENPTU1BTkRQQVJBTUVURVIoQ09NTUFORCwgQ09ORElUSU9OLCBQQVJBTUVURVJG
TEFHLCBTVFJFTkdUSEZMQUcsIFNUUkVOR1RIVkFMVUUsIFNUQVJURkxBRywgU1RB
UlRWQUxVRSwgRU5ERkxBRywgRU5EVkFMVUUsIE9QVElPTkFMSU1HKQrSLS4vMFok
Y2xhc3NuYW1lWCRjbGFzc2VzXxAPTlNNdXRhYmxlU3RyaW5noy8xMlhOU1N0cmlu
Z1hOU09iamVjdNIOKSo1gARfEBMgSUYgQ09ORElUSU9OIFRIRU4K0i0uNzhcU0RT
bWFydFJhbmdlojkyXFNEU21hcnRSYW5nZdItLjs8Xk5TTXV0YWJsZUFycmF5ozs9
MldOU0FycmF5AAgAEQAaACQAKQAyADcASQBMAFEAUwBcAGIAZwByAHkAewB9AH8A
mACgAKsAvQDLANcA4wDwAPoBCQETASEBJAElASgBKgEsAS0BLwEwATIBNAE5AUMB
RQHZAd4B6QHyAgQCCAIRAhoCHwIhAjcCPAJJAkwCWQJeAm0CcQAAAAAAAAIBAAAA
AAAAAD4AAAAAAAAAAAAAAAAAAAJ5</string>
	<key>SDFullAppletInfoPlist</key>
	<dict>
		<key>CFBundleIconFile</key>
		<string>applet</string>
		<key>CFBundleIdentifier</key>
		<string>yansenez.com.Generate</string>
		<key>CFBundleName</key>
		<string>Generate</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0</string>
		<key>LNSShowStartupScreen</key>
		<false/>
		<key>LNSStayOpen</key>
		<false/>
		<key>NSAppleEventsUsageDescription</key>
		<string>This script needs to control other applications to run.</string>
		<key>NSAppleMusicUsageDescription</key>
		<string>This script needs access to your music to run.</string>
		<key>NSCalendarsUsageDescription</key>
		<string>This script needs access to your calendars to run.</string>
		<key>NSCameraUsageDescription</key>
		<string>This script needs access to your camera to run.</string>
		<key>NSContactsUsageDescription</key>
		<string>This script needs access to your contacts to run.</string>
		<key>NSHomeKitUsageDescription</key>
		<string>This script needs access to your HomeKit Home to run.</string>
		<key>NSHumanReadableCopyright</key>
		<string>Copyright © 2024 Yan Senez Photographie, All Rights Reserved</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>This script needs access to your microphone to run.</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>This script needs access to your photos to run.</string>
		<key>NSRemindersUsageDescription</key>
		<string>This script needs access to your reminders to run.</string>
		<key>NSSiriUsageDescription</key>
		<string>This script needs access to Siri to run.</string>
		<key>NSSystemAdministrationUsageDescription</key>
		<string>This script needs access to administer this system to run.</string>
		<key>OSAAppleScriptObjCEnabled</key>
		<true/>
		<key>OSAAppletShowStartupScreen</key>
		<false/>
		<key>OSAAppletStayOpen</key>
		<false/>
		<key>WindowState</key>
		<dict>
			<key>bundleDividerCollapsed</key>
			<true/>
			<key>bundlePositionOfDivider</key>
			<real>0.0</real>
			<key>dividerCollapsed</key>
			<false/>
			<key>eventLogLevel</key>
			<integer>2</integer>
			<key>name</key>
			<string>ScriptWindowState</string>
			<key>positionOfDivider</key>
			<real>333</real>
			<key>savedFrame</key>
			<string>609 261 602 597 0 0 1680 1027 </string>
			<key>selectedTab</key>
			<string>result</string>
		</dict>
	</dict>
	<key>SDHideCodeFolding</key>
	<false/>
	<key>SDMakeScriptsRunOnlyOnExport</key>
	<integer>0</integer>
	<key>SDWindowState</key>
	<dict>
		<key>eventLogWindow</key>
		<dict/>
		<key>resultWindow</key>
		<dict/>
		<key>traceDelay</key>
		<real>0.80000001192092896</real>
		<key>viewControllers</key>
		<dict>
			<key>CCE4AF61-05E4-419F-8684-1BDB2A5C4302-587-0000000069B9F78E</key>
			<dict>
				<key>debuggerViewState</key>
				<dict>
					<key>expressionsState</key>
					<dict>
						<key>dividerPos</key>
						<real>150</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
					<key>heights4</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>321</integer>
								<integer>413</integer>
								<integer>160</integer>
							</array>
							<key>5</key>
							<array>
								<integer>251</integer>
								<integer>102</integer>
								<integer>319</integer>
								<integer>83</integer>
								<integer>126</integer>
							</array>
						</dict>
					</dict>
					<key>resultState</key>
					<dict>
						<key>explorerState</key>
						<dict>
							<key>dividerPos</key>
							<real>150</real>
							<key>scope2.changedItems</key>
							<true/>
							<key>scope2.emptyElements</key>
							<false/>
							<key>scope2.filledElements</key>
							<true/>
							<key>scope2.props</key>
							<true/>
							<key>scope2.unchangedItems</key>
							<true/>
							<key>showScopeBar</key>
							<true/>
						</dict>
						<key>modes</key>
						<array>
							<string>mode.best</string>
						</array>
						<key>positions2</key>
						<dict>
							<key>positions</key>
							<dict/>
						</dict>
						<key>prettyPrint</key>
						<false/>
						<key>textState</key>
						<dict>
							<key>text</key>
							<dict>
								<key>LNSSelection</key>
								<array>
									<dict>
										<key>length</key>
										<integer>0</integer>
										<key>location</key>
										<integer>0</integer>
									</dict>
								</array>
								<key>LNSTextViewShowInvisibles</key>
								<false/>
								<key>LNSTextViewShowSpaces</key>
								<false/>
								<key>LNSTextViewShowTabStops</key>
								<false/>
								<key>LNSTextViewWrapLines</key>
								<true/>
								<key>LNSVisibleRect</key>
								<string>{{0, 0}, {424, 291.5}}</string>
							</dict>
						</dict>
					</dict>
					<key>stackVisible</key>
					<false/>
					<key>variablesState</key>
					<dict>
						<key>dividerPos</key>
						<real>150</real>
						<key>scope2.changedItems</key>
						<true/>
						<key>scope2.emptyElements</key>
						<false/>
						<key>scope2.filledElements</key>
						<true/>
						<key>scope2.props</key>
						<true/>
						<key>scope2.unchangedItems</key>
						<true/>
						<key>showScopeBar</key>
						<false/>
					</dict>
				</dict>
				<key>eventLogHeight</key>
				<real>225</real>
				<key>eventLogViewState</key>
				<dict>
					<key>format</key>
					<string>EventLogScopeBar_Source</string>
					<key>resultState</key>
					<dict>
						<key>modes</key>
						<array>
							<string>mode.best</string>
						</array>
						<key>positions2</key>
						<dict>
							<key>positions</key>
							<dict/>
						</dict>
						<key>prettyPrint</key>
						<false/>
					</dict>
					<key>resultViewerWidth</key>
					<real>410</real>
					<key>scopeVisible</key>
					<true/>
					<key>showResultViewer</key>
					<false/>
				</dict>
				<key>inspectorsViewState</key>
				<dict>
					<key>applications</key>
					<dict>
						<key>dividerPos2</key>
						<real>144</real>
						<key>searchFlags</key>
						<integer>167784318</integer>
					</dict>
					<key>clippings</key>
					<dict/>
					<key>heights3</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>3</key>
							<array>
								<integer>320</integer>
								<integer>293</integer>
								<integer>289</integer>
							</array>
						</dict>
					</dict>
					<key>tellContext</key>
					<dict>
						<key>explorer</key>
						<dict>
							<key>dividerPos</key>
							<real>267</real>
							<key>scope2.changedItems</key>
							<true/>
							<key>scope2.emptyElements</key>
							<false/>
							<key>scope2.filledElements</key>
							<true/>
							<key>scope2.props</key>
							<true/>
							<key>scope2.unchangedItems</key>
							<true/>
							<key>showScopeBar</key>
							<true/>
						</dict>
					</dict>
				</dict>
				<key>mainSplit%</key>
				<real>0.74537038803100586</real>
				<key>mainSplitPosition</key>
				<real>440</real>
				<key>modeIdentifier</key>
				<string>tab.debug</string>
				<key>resourcesViewState</key>
				<dict>
					<key>heights2</key>
					<dict>
						<key>positions</key>
						<dict>
							<key>2</key>
							<array>
								<integer>328</integer>
								<integer>624</integer>
							</array>
							<key>3</key>
							<array>
								<integer>176</integer>
								<integer>335</integer>
								<integer>343</integer>
							</array>
						</dict>
					</dict>
					<key>resources</key>
					<dict>
						<key>expanded</key>
						<array/>
						<key>selection</key>
						<array/>
					</dict>
				</dict>
				<key>scriptViewState</key>
				<dict>
					<key>editorState</key>
					<dict>
						<key>LNSSelection</key>
						<array>
							<dict>
								<key>length</key>
								<integer>0</integer>
								<key>location</key>
								<integer>6095</integer>
							</dict>
						</array>
						<key>LNSTextViewShowInvisibles</key>
						<false/>
						<key>LNSTextViewShowSpaces</key>
						<false/>
						<key>LNSTextViewShowTabStops</key>
						<false/>
						<key>LNSTextViewWrapLines</key>
						<false/>
						<key>LNSVisibleRect</key>
						<string>{{0, 1842}, {1242, 659}}</string>
						<key>ShowLineNumbers</key>
						<false/>
						<key>showCodeCoverage</key>
						<false/>
					</dict>
					<key>instanceID</key>
					<string>168A8579-460D-43BB-AE3D-2FAD68C82F4D-10293-000061B6ED6958A0</string>
					<key>resultBarVisible</key>
					<false/>
					<key>showProgressBar</key>
					<true/>
				</dict>
				<key>showEventLog</key>
				<true/>
				<key>tabHeights</key>
				<dict>
					<key>tab.bps</key>
					<real>433</real>
					<key>tab.debug</key>
					<real>439</real>
					<key>tab.rsrcs</key>
					<real>433</real>
				</dict>
				<key>tabsHidden</key>
				<false/>
				<key>windowControllerID</key>
				<string>FA5493D0-2AA8-4022-84A2-84920FC12BDC-670-000000717E4A193A</string>
				<key>windowFrame</key>
				<string>164 185 1728 1007 0 0 2056 1285 </string>
			</dict>
		</dict>
		<key>windowControllers</key>
		<array>
			<dict>
				<key>controllerClass</key>
				<string>SD8ScriptWindowController</string>
				<key>controllerID</key>
				<string>CCE4AF61-05E4-419F-8684-1BDB2A5C4302-587-0000000069B9F78E</string>
				<key>controllerState</key>
				<dict>
					<key>miniaturized</key>
					<false/>
					<key>timerShowsDetail</key>
					<false/>
					<key>windowFrame</key>
					<string>233 216 1728 1007 0 0 2056 1285 </string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
